body {

	margin: 0;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.box{
	
	width: 100%;
	height: 89px;
	position: sticky;
	background-color: white;
	border-bottom:1px solid black;
	box-shadow: 2px rgb(151,195,144);
	top: 0;
	left: 0;
}

.menu-bar{
	margin: auto;
	background-color: white;
	width: 1170px;
	height: 89px;

}

.logo{

	margin-left: 60px;
	margin-top: 20px;
	float: left;
	

}
.wrap{
	
	display: inline-block;
	height: 89px;
	width:470px;
  	vertical-align:middle;
   	
}

.header-right{
	float: right;
	margin: 5px 15px 0 0;
	height: inherit;
	padding: 2px 0 0 2px;
}
.header-wrapper, .auth{
	
	display: inline-block;
	text-align: center;
	margin-right: 0.5em;
	border: 1px solid transparent;
	
}

.auth{
	border-radius: 30px 30px 0 0;
	padding: 13px 32px;
	position: relative;
	text-decoration: none;
	
}
.auth:after{
	content: "";
	height: 1px;
	width: 100%;
	background-color: white;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
}


.auth:hover{
	border: 1px solid #d0d5da;
	
	
}

.auth:hover .dropdown-content{
	
	display: block;
	
}

.header-wrapper a{
	text-decoration: none;

}

.header-wrapper a:hover{
	text-decoration: underline;
}

.dropdown-content{
	
	display: none;
	position: absolute;
	min-width: 200px;
	padding: 20px 0; 
	border: 1px solid #d0d5da;
	border-radius: 30px 0 30px 30px;
	background-color: white;
	right: 0;
	margin: 12px -1px 2px 0;
	z-index: 1;
	
}

.auth-button{
		text-decoration: none;
		width: 130px;
		color: white;
		margin: auto;
		margin-top: 10px;
		border-radius: 20px;
		border: none;
		background-color: #0083F9;
		font-size: 12px;
		display: block;
		outline: none;
		padding: 8px;
} 

.auth-button:hover{

	background-color: rgba(0, 108, 249, 0.89);
}

.logo-text{
	padding-top: 25px;
	width: 300px; 
	font-size: 3em;
	background-color: blue;
	float: left;
}

.search{
	
	border-radius: 70px;
	height: 42px;
	background-color: white;
	width: 457px; 
	margin-top: 5px;
	border: 1px solid rgba(26, 26, 26, 0.2);
}

.search:focus-within{
	border-radius: 10px 25px 10px 10px;
	height: 257px;
	background-color: white;
	width: 457px; 
	margin-top: 5px;
	border: 1px solid rgba(26, 26, 26, 0.2);
	z-index: 1;
	position: absolute;
}

.search-input{
	height: 39px;
	width: 295px;
	font-size: 14px;
	padding-left: 15px;
	border-radius: 40px;
	border:none;
	outline: none;
	left: 0;
}

.cat-div{
	float: right;
}


.searchButton{
	
	margin-left: -2px;
	float: right;
	height: 42px;
	width: 45px;
	color: white;
	outline: none;
	border: none;
	font-size: 22px;
	border-radius: 25px;
	background-color: #4d4d4d;
}

.searchButton:hover{

	background-color: black;
}

.contacts{

	display: inline-block;
}

.contacts ul li{

	list-style: none;
}

.contacts ul li a{

	text-decoration: none;
	color: #4d4d4d;
	font-size: 14px;
	line-height: 1.2;
}

.contacts ul li a:hover{

	text-decoration: underline;
}

.icon{
	
	font-size: 30px;
	color: rgba(60, 60, 60, 0.7);
	cursor: pointer;
}

.text{
	color: rgba(60, 60, 60, 0.7);
	font-size: 12px;
	cursor: pointer;
	
}

.wbody{

	margin: 0 auto;
	width: 1170px;
	box-sizing: border-box;

}


#navigation {
	margin: 0;
	padding: 0;
	width: inherit;
	box-sizing: inherit;

}


.navbar>ul{
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	box-sizing: inherit;
}



.navbar>ul>li{
	display: flex;
	list-style: none;
	height: 48px;
    position: relative;
    border-radius: 30px 0 0 30px;
    border-right-color: #00000000;
	box-sizing: inherit;
	width: inherit;
	white-space: nowrap;
    }


.navbar>ul>li:not(:last-child):after{

    content: "";
    right: -35px;
    position: absolute;
    height: 48px;
    width: 35px;
    top: -1;
    z-index: -1;
    background-color: inherit;
	}

	.navbar>ul>li:last-child{
    border-radius: 30px 30px 30px 30px;
	}

.navbar>ul>li>a{
	
	display: flex;
	font-size: 12px;
	padding-left: 14px;
	text-decoration: none;
	color: white;
	padding-right: 16px;
	justify-content: center;
	align-items: center;
	position: relative;
}



.fa-caret-down{
   	font-size: 15px;
}


.navbar>ul>li>a>span{
	padding-left: 5px;
	padding-right: 4px;
	display: inline-block;}
.navbar>ul>li>a>span>span, .main-filters>div>span{
	display: block;}

.navbar>ul>li>a:first-child:hover{
	
	font-size: 12px;
	
	text-decoration: none;
	color: slategrey;
	height: inherit;
    border-radius: 20px 20px 0 0;
    background-color: white;

}

.cat-drdown-div{
	display: none;
	position: absolute;
	width: 580px;
	border-radius: 0 0 30px 30px;
	z-index: 1;
	margin-top: 48px;
	background-color: white;
	border:1px solid grey;
	border-top-color: white;
	height: 355px;
	
}
.nav-list>div:hover{

	border-radius: 30px 0 0 30px;
}

.navbar>ul>li:nth-child(1):hover .cat-drdown-div{
	
	
	display: block;
}



.cat-inside{
	margin-bottom: 10px;
}

.cat-drdown-div>div{
 	width: 33%;
	padding: 20px 25px;
}
.cat-drdown-div>div>ul>li>a{
	padding: 4px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: justify;
	text-decoration: none;
	border:solid;
	border-width: 1px 0;
	border-color: transparent;
	color: slategrey;
}
.cat-drdown-div>div>ul>li>a:hover{
	border:solid;
	border-width: 1px 0;
	border-color: #d2d1d1;

}

.cat-drdown-div>div>ul{
	padding: 0;
	list-style: none;
	
	vertical-align: middle;
}

.products-list{
	margin-left: 8px;
	width: 69%;
	border-top: 1px solid rgba(120, 120, 120, 0.3)
	background-color: blue;
	display: inline-block;
	
}
.filter-view{
	display: flex;
}


.filter-view{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 20px;
}

#sort-by{
	border-radius: 25px;
	padding: 5px 7px;
	outline-style: none;
	border-color: lightgrey;
}
#sort-by:active{
	border-radius: 15px 15px 0 0;
	padding: 5px 7px;
	outline-style: none;
	border-color: lightgrey;
}

#view-options{
	display: flex;
	list-style: none;
	padding: 0;
}

#view-options>li{
	margin-left: 25px;

}

#page{
	width: 35px;
	border-radius: 25px;
	outline-style: none;
	text-align: center;
	border:1px solid lightgrey;
	padding: 5px 7px;
}
.h-prev, .h-next{
	color: rgba(0,0,0, 0.3);
	border-radius: 50%;
	border: 1px solid #dfe1e5;
	outline: none;
	background-color: white; 
	height: 25px;
	width: 25px;
	font-size: 1em;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);
	cursor: pointer;
	font-weight: bold;
}

.items-list{
	
	display: flex;
	box-sizing: border-box;
	overflow: hidden;
}

.items-list img{
	width: 265px;
	height: 197px;
	display: block;
	margin: auto;
}

.items-list>div{
	width: 100%;
	background-color: gold;
	
	
	

}
.items-list>div:hover{
	overflow: visible;
	z-index: 1;
	box-shadow: 0px 5px 5px 5px rgba(0,0,0,.2);

}

.main-filters{
	vertical-align: top;
	width: 29%;
	display: inline-block;
	box-sizing: border-box;

}

.main-filters *{
	box-sizing: inherit;
}

.main-filters>div{
	display: block;
	
	border-bottom:1px solid lightgrey;
	padding: 8px 13px;
}

.main-filters>div>button{
	width: 100%;
	background-color: grey;
	padding: 8px 0;
	border-radius: 26px;
	outline: none;
	border:none;

}

.main-filters>div>button:hover{
	cursor: pointer;
}

.filter-search{
	margin-top: 10px;
	width: 100%;
	border-radius: 26px;
	padding: 8px 0 8px 10px;
	outline: none;
	border:none;
	border: 1px solid lightgrey;
}

section{
	border-bottom:1px solid lightgrey;
	padding: 8px 13px;
}

section h1,h2{
	display: inline;
}

section label{
	display: block;
}

.price-range{

	width: 50px;
	border-radius: 25px;
	outline-style: none;
	text-align: center;
	border:1px solid lightgrey;
	padding: 5px 7px;
	
}

section span{
	float: right;
}